:root {
    --main-word-color: #0A0F29;
    /*--main-word-color: #262626;
    --first-color: #0E2F59;
    --second-color: #F2B705;*/
    --first-color: #56BDA3;
    --second-color: #3A67B1;
    --third-color: #F2F2F2;
}